@tailwind base;
@tailwind components;
@tailwind utilities;

body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin:0;
  padding:0;
  }
  img {
  border:0; /* kills Gecko bug when img's are placed inside links */
  vertical-align:bottom; /* set vertical align to bottom for IE */
  }

  :root {
    --base-background-color: rgba(255, 255, 255, 0.1);
  }
  /* ------------------- Defaults ------------------- */
  html {
  height:100%; 
  overflow:auto; /* triggers 100% height in Opera 9.5 */
  overflow-y:scroll; /* creates a horizontal scrollbar, for a more consistent look & feel */
  }
  body {
  height:100%; /* helps make height 100% */
  background-color: #82c5eb;
  color:#FFF;
  }
  /* ------------------ Typography ------------------- */
  p, ul, ol {
  font-size:1em;
  }
  h1 {font-size:1.6em;}
  h2 {font-size:1.5em;}
  h3 {font-size:1.4em;}
  h4 {font-size:1.3em;}
  h5 {font-size:1.2em;}
  h6 {font-size:1.1em;}

  .custom-gradient {
    background: linear-gradient(to top, var(--base-background-color), transparent);
  }

  .bg-custom-fade {
    background-color: rgba(255,255,255, 0.09);
    
    backdrop-filter: blur(30px);
  }

  .filter-shadow {
  
  }

  .fade-scroll-effect {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(28px);
    }
}

.diagonal-gradient-middle {
  background: linear-gradient(225deg, #82c5eb 46.3%, #77C0E9 10%);
}

.diagonal-gradient-end {
  background: linear-gradient(225deg, #191919 4.5%, #000 0%);
}